.popup__submit-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
}

@media (max-width: 590px) {
    .popup__submit-text {
        font-size: 14px;
    }
}