.popup__image {
    position: relative;
    max-width: 75vw;
    max-height: 75vh;
    margin: 0;
    object-fit: contain;
}

@media (max-width: 590px) {
    .popup__image {
        max-width: 240px;
    }
}